*{
    margin: 0;
    padding: 0;
    font-family: 'gilroy';
    box-sizing: border-box;
    color: white;
}
html,body{
    width: 100%;
    height: 100%;
}
nav{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw 6vw;
}
nav:hover #nav-bottom{
    height: 100%;
    bottom: -100%;
    
}
#nav-bottom{
    transition: all ease 0.65s;
    position: absolute;
    background-color: #111;
    height: 0%;
    width: 79%;
    bottom:0%;
    border-bottom: 1px solid #fff;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0.1vw 15vw;
    padding-right: 7vw;
    padding-left: 30vw;
   
}
#nav-bottom h5 span{
    font-size: 0.85vw;
    font-weight: 500;
}
#nav-bottom h5{
    margin-bottom: 0.4vw;
}
nav h1{
    text-transform: uppercase;
    font-size: 1.8vw;
}
nav button{
    background-color: #0DA34E;
    border-radius: 50px;
}
.nav-part2{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    gap: 2vw;
    font-size: 0.9vw;
    font-weight: 400;
}
#page1{
    height: 100vh;
    width: 100%;
    background-color:#111111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#page1 h1{
    font-size: 8vw;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 8vw;

}
#page1 svg{
    width: 6vw;
    height: 6vw;
    background-color: #0DA34E;
    border-radius: 50%;
}
#page1 p{
    text-align: center;
    font-weight: 400;
    margin-top: 4vh;
}
#page1-bottom-text{
    display: flex;
    align-items: center;
    justify-content: center;  
}
#page1-bottom-text h4{
    font-weight: 400;
    font-size: 1vw;
    text-transform: lowercase;
    padding: 5px 10px;
    border: 1px solid #d1cdcd;
    border-radius: 50px;
    margin-top: 0.5vw;
}
#page1-bottom-text h4:nth-last-child(2){
    border: none;
    padding: 2px;
}
#page2{
    height: 100vh;
    width: 100%;
    background-color: #111111;   
}